.list__container {
	align-items: center;
	border: 1px solid var(--border-color);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 4px;
}

.list__heading {
	padding-bottom: 4px;
	border-bottom: 2px solid var(--border-color);
}
.list__container li {
	list-style: none;
	margin: 10px;

	padding: 4px;
}
.list__container li:hover {
	color: var(--primary-color);
}
.list__item_notification {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-bottom: 2px solid var(--border-color);
	margin: 0px;
}
