.avatar {
	border-radius: 50%;
	width: 4rem;
	margin: 1rem;
	aspect-ratio: 1 / 1;
}
.avatar-square {
	border-radius: 3px;
	width: 4rem;
	margin: 1rem;
}
.avatar-xs {
	width: 2rem;
}
.avatar-s {
	width: 3rem;
}
.avatar-m {
	width: 4rem;
}
.avatar-l {
	width: 6rem;
}
.avatar-xl {
	width: 8rem;
}
