.flex-column {
	flex-direction: column;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Roboto Slab", serif;
	font-weight: bold;
	display: block;
}

.h1 {
	font-size: 2rem;
}
.h2 {
	font-size: 1.5rem;
}
.h3 {
	font-size: 1.17rem;
}
.h4 {
	font-size: 1rem;
}
.h5 {
	font-size: 0.83rem;
}
.h6 {
	font-size: 0.67rem;
}

.text-xs {
	font-size: 0.8rem;
}
.text-s {
	font-size: 1rem;
}
.text-m {
	font-size: 1.5rem;
}
.text-l {
	font-size: 2rem;
}
.text-xl {
	font-size: 2.5rem;
}
.text-gray {
	color: var(--box--shadow-color);
}
.mark {
	color: var(--background-color);
	border-radius: 3px;
	background-color: var(--primary-color);
	padding: 4px;
}
.line-through {
	text-decoration: line-through;
}

.text-center {
	text-align: center;
}
