.image__sqr {
  width: 12.5rem;
  height: 12.5rem;
  margin: 1rem;
  border-radius: 4px;
  object-fit: cover;
}

.image__round {
  width: 12.5rem;
  height: 12.5rem;
  margin: 1rem;
  border-radius: 50%;
  object-fit: cover;
}

.image__s {
  width: 10rem;
  height: 10rem;
}
.image__m {
  width: 12.5rem;
  height: 12.5rem;
}
.image__l {
  width: 15rem;
  height: 15rem;
}

.image__res {
  width: 100%;
  height: auto;
  object-fit: cover;
}
