* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 18rem;
	border: 2px solid var(--border-color);
}
.card__badge {
	position: absolute;
	color: var(--warning-red-color);
	top: 1rem;
	right: 1rem;
}
.card__ecommerce {
	display: flex;
	position: relative;
	flex-direction: column;
	padding: 1rem;
	border: 1px solid var(--boder-color);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 4px;
	width: 12rem;
}

.card__image {
	width: 100%;
	max-inline-size: 100%;
	block-size: auto;
	width: 100%;
	height: 15rem;
	object-fit: cover;
	transition: transform 450ms;
}

.card__titles {
	margin-top: 4px;
}

.card__info {
	margin-bottom: 4px;
	color: var(--text-color);
}

.card__price {
	display: flex;
	gap: 1rem;
	align-items: center;
	margin: 4px 0px;
}
.previous__price {
	text-decoration: line-through;
	font-size: 12px;
}
.card__button-ecom {
	padding: 10px;
	border-radius: 4px;
	font-size: 1rem;
	font-weight: 700;
	border: none;
	text-decoration: none;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--background-color);
}

.card__button {
	margin: 8px 1rem;
	padding: 10px;
	border-radius: 4px;
	font-size: 1rem;
	font-weight: 700;
	border: none;
	text-decoration: none;
	cursor: pointer;
	background-color: var(--primary-color);
	color: var(--background-color);
}
.card__button:hover {
	background-color: var(--secondary-color);
}

.card_footer {
	display: flex;
	align-items: center;
	gap: 10px;
}

.text__overlay {
	position: absolute;
	color: var(--background-color);
	left: 1rem;
	top: 5rem;
}
.text__overlay-ecom {
	position: absolute;
	color: var(--text-color);
	left: 1rem;
	top: 15rem;
}

.card__shadow {
	box-shadow: 2px 2px 5px -1px var(--box--shadow-color);
}
.card__dismiss {
	position: absolute;
	color: var(--primary-color);
	right: 5px;
	top: 5px;
	cursor: pointer;
}
.card__dismiss:hover {
	color: var(--secondary-color);
}
