@import url(../componets/alert/alert.css);
@import url(../componets/avatar/avatar.css);
@import url(../componets/badge/badge.css);
@import url(../componets/buttons/buttons.css);
@import url(../componets/cards/cards.css);
@import url(../componets/Images/images.css);
@import url(../componets/input/input.css);
@import url(../componets/lists/lists.css);
@import url(../componets/text_Utilities/textUtilities.css);
@import url(../componets/ratings/ratings.css);
@import url(../componets/grid/grid.css);
@import url(../componets/modal/modal.css);
@import url(../componets/navigation/navigation.css);

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

html {
	font-family: "Roboto Slab", serif;
	background-color: var(--background-color);
}

:root {
	--primary-color: #3bb2f6;
	--secondary-color: #3988f0;
	--background-color: #fff;
	--text-color: #282828;
	--box--shadow-color: gray;
	--border-color: #e2e8f0;
	--warning-red-color: #ef4444;
	--success-green-color: #10b981;

	/* hover colors */
	--success-green-color-hover: #34d399;
	--warning-red-color-hover: #f87171;
	--dark-color-hover: #374151;

	/* Star color */
	--star-color: gold;
}
